transformers
accelerate
einops
langchain
xformers
bitsandbytes
sentence_transformers
chromadb
torch 
datasets 
peft 
trl
pdfminer.six 
langchain_community
sentence-transformers 
chromadb 
cohere
IPython